.pswd-Box {
  padding-top: 90px;
  padding-left: 145px;
  background-color: #b3ecff;
  margin-top: 165px;
  width: 605px;
  height: 434px;
  border-radius: 25px;
  margin-right: auto;
  margin-left: auto;
}

.forgot-pswd {
  padding-inline-start: 35%;
  float: left;
  margin-top: 26px;
  margin-left: 20px;
}

.userId {
  margin: 15px;
  border: none;
  margin-left: 104px;
  width: 50%;
}

.password-input {
  width: 260px;
  border: none;
  margin: 15px;
  margin-left: 52px;
  width: 50%;
}

.confirmPassword-input {
  width: 260px;
  border: none;
  margin: 15px;
  margin-left: 29px;
  width: 50%;
}

.save {
  margin-left: 290px;
  width: 20%;
}

.errorMsgs {
  margin-left: 156px;
}
