<h3 class="forgot-pswd">Forgot Password</h3>
<div class="pswd-Box">
  <form class="form" [formGroup]="reactiveform">
    <div class="div">
      <label class="label">User Id:</label>
      <input
        type="text"
        class="userId"
        name="userId"
        formControlName="userId"
      /><br />
      <span
        *ngIf="f['userId'].touched && !f['userId'].valid"
        class="text-danger errorMsgs"
        >Enter User ID</span
      >
    </div>

    <div class="div">
      <label class="label">New Password:</label>
      <input
        type="password"
        class="password-input"
        name="pswd"
        required
        formControlName="newPassword"
      /><br />
      <span
        *ngIf="f['newPassword'].touched && !f['newPassword'].valid"
        class="text-danger errorMsgs"
        >Enter new password</span
      ><br />
      <span
        *ngIf="f['newPassword'].errors && f['newPassword'].errors['minlength']"
        class="text-danger errorMsgs"
        >Password length atleast 6</span
      >
    </div>

    <div class="div">
      <label class="label">Confirm Password:</label>
      <input
        type="password"
        class="confirmPassword-input"
        name="pswd"
        required
        formControlName="cPassword"
      /><br />
      <span
        *ngIf="
          f['cPassword'].touched &&
          !f['cPassword'].dirty &&
          !f['cPassword'].valid
        "
        class="text-danger errorMsgs"
        >Enter confirm password</span
      ><br />
      <span
        *ngIf="f['cPassword'].errors && f['cPassword'].errors['MustMatch']"
        class="text-danger errorMsgs"
        >The passwords do not match</span
      >
    </div>
    <br />
    <br />
    <button
      type="submit"
      [disabled]="!reactiveform.valid"
      class="btn btn-info save"
      (click)="updatePassword()"
    >
      Save
    </button>
  </form>
</div>
